.light-control--main{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.light-control--selectors{
    display: flex;
    gap: 16px;
}

@media (max-width: 768px) {
    .light-control--selectors{
        flex-direction: column;
    }
}